{% load  i18n sekizai_tags %}

<!--  ===================== Info ============================ 
Author: Dmitry E. Kislov
E-mail: kislov@easydan.com
Created: 30 Aug, 2016
	  ======================================================== -->

<!--  ============Herbitem main searchform ================== --> 

<div id="herb-search-form">
  <ul>
	<li><label for="family-input">{%trans "Семейство"%}:</label><div><select id="family-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="genus-input">{%trans "Род"%}:</label><div><select id="genus-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
  <li><label for="species-input">{%trans "Вид"%}:</label><div><input type="search" id="species-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
  <li><label for="itemcode-input">{%trans "Код"%}:</label><div><input type="search" id="itemcode-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="collectedby-input">{%trans "Собрал(и)"%}:</label><div><input type="search" id="collectedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="identifiedby-input">{%trans "Определил(и)"%}:</label><div><input type="search" id="identifiedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="country-input">{%trans "Страна"%}:</label><div><select id="country-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></li>

  <li><label for="place-input">{%trans "Место сбора"%}:</label><div><input type="search" id="place-input" value="" placeholder="{%trans "Место сбора"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="colstart-input">{%trans "Дата сбора (начало)"%}:</label>
    <div><input type="search" id="colstart-input" value="" placeholder="{%trans "Начало сбора"%}">
    <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div>
    </div>
  </li>
 <li><label for="colend-input">{%trans "Дата сбора (окончание)"%}:</label><div>
  <input type="search" id="colend-input" value="" placeholder="{%trans "Конец сбора"%}"> <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
     
  <li><input type="submit" id="searchform-clear" value="{%trans "Очистить"%}"></li>
  <li><input type="submit" id="herbitemform-button" value="{% trans "Найти" %}"></li> 
  </ul>
</div> 

<!--  ======================================================== -->

<!--  ============Herbitem content found ===================== --> 
 

<div id="herbitem-filtering-container">
<div id="herbitem-filtering">
      <h3>{%trans "Применить фильтры"%}:</h3>
        <ul id="herbitem-search-filtering">
           <li><select id="herbitem-pagination"> 
               <option value="">{%trans "Количество"%}</option>
               <option value="20">20</option>
               <option value="50">50</option>
               <option value="100">100</option>
               <option value="200">200</option>
               </select>   
           </li> 
           <li><select id="herbitem-acronym">
               <option value="">{%trans "Название гербария"%}</option>
               {%for acronym in acronyms%} 
                 <option value="{{acronym.pk}}">{{acronym.institute}} ({{acronym.name}})</option>
               {%endfor%}
              </select>   
           </li>
           <li><select id="herbitem-subdivision">
               <option value="">{%trans "Подраздел гербария"%}</option>
               {%for subdivision in subdivisions%} 
                 <option value="{{subdivision.pk}}">{{subdivision.name}}</option>
               {%endfor%}
              </select>   
           </li>
         <ul>
</div>
</div> 

<div id="tab-preloader"></div>
<div id="herbitem-tabs">
  <ul>
    <li><a href="#herbitem-content-main">{%trans "Общая информация"%}</a></li>
    <li><a href="#herbitem-details">{%trans "Информация об образце"%}</a></li>
    <li><a href="#herbitem-map">{%trans "Карта" %}</a></li>
    </ul>
    <div id="herbitem-content-main">
     <div id="herbitem-content-found"><div class="herbitem-loader"></div></div>
    </div>

    <div id="herbitem-details">
     <div class="herbitem-newpage"><h2>{%trans "Не выбран ни один элемент"%}<h2></div>
      <iframe id="herbitem-iframe" src="" width=100% height=1000px style="border:0"></iframe>
    </div>
  
    <div id="herbitem-map">
      <div id="herbitem-map-pagelister"></div>
        <h2>Under construction...</h2>
    <div id="herbitem-map-placeholder"></div>
  </div>
</div>


<!--  ======================================================== -->




<!-- ============-Searchform template ======================== -->
<script id="herbitem-map-template" type="text/x-underscore-template">
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>
</script>

<script id="searchform-template" type="text/x-underscore-template">
{% if user.is_authenticated %}
<div id="herbitem-csv-export" onclick="herbitemFind(true)"> {%trans "Сохранить в csv-файл" %}</div>
{%endif%}
<h2> {%trans "Результаты поиска:"%} </h2>
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>

<table id="herbitem-table" style="max-width: 690px;">
   <thead>
    <tr style="height:3em;">
     <td>  {% trans "Код объекта"%} </td>
     <td>  {% trans "Вид"%} </td>
     <td>  {% trans "Дата сбора"%} </td>
     <td>  {% trans "Коллектор(ы)"%} </td>
     <td>  {% trans "Определил(и)"%} </td> 
</tr> 
   </thead>
	<tbody>
		<%
        _.each(items, function(item, index, list){
       var itemcode = (item.itemcode == '') ? '*': item.itemcode;
			 var fieldid  = (item.fieldid == '') ? '': ('/' + String(item.fieldid));
       var herbid = item.id;
       var coldate = item.collected_s;
       var collectors  = item.collectedby;
			 var species = item.species;
       var identifiers = item.identifiedby; 
       var idstr = itemcode + '/' + herbid + fieldid;

		if (index % 2 == 0) { %>
    <tr class="herbitem-even" id="herbitem-<%= herbid %>"  onclick="showHerbitem(<%= herbid %>)">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
   <%	} else { %>
    <tr class="herbitem-odd" id="herbitem-<%= herbid %>" onclick="showHerbitem(<%= herbid %>);">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
	<%	}}); %>
<tfoot><tr><td>{%trans "Всего:"%} <%= total %></td></tr></tfoot>
	</tbody>   
</table>
</script>
<!--  ======================================================== -->

{%addtoblock "css"%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" >
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<style type="text/css">
#family-input, #genus-input, #species-input, #country-input, #itemcode-input, #collectedby-input, #identifiedby-input,
#place-input, #colend-input, #colstart-input
	{
	width:200px;
    height: 2em
  }
.clear-button{
	display: none;
	cursor:pointer;
	}
#herb-search-form>ul{
list-style-type: none;
}	
#herb-search-form>ul li{
padding-bottom:10px;
}
label {font-weight: bold; display:block;}
label + * {margin-left: 2em; margin-top: 5px;}

.herbitem-even{
  background: #EEEEEE;
  height: 2em;

}

.herbitem-selected {
background: #EEFFAA !important;
}

.herbitem-page-lister{
  text-align: center;
  margin-bottom: 5px;  
}
#searchform-clear{
padding: 10px;
font-size: medium;
}
#herbitemform-button{
padding:10px;
font-size:medium;
}
.herbitem-odd{
  background: #FFFFFF;
  height: 2em;
}
.herbitem-even:hover, .herbitem-odd:hover{
background: #EEFFAA;
cursor: pointer;
}
#herbitem-tabs{
float: right;
width: 50%;
display: none;
}
#herbitem-table {
width:100%;
padding: 10px;
}
#herbitem-table > thead{
background: #22FFAA;
}
#herbitem-table tr td {
padding: 4px;
}
#herbitem-content-found {
  display: block;
  float: left;
  width: 100%;
}
#herb-search-form{
  display:block;
  float:left;
}
.herbitem-newpage{
color: blue;
float: right;
}
.herbitem-newpage:hover{
  cursor: pointer;
  color: green;
}

#herbitem-csv-export{
float: right;
padding: 5px;
font-size: 14pt;
font-weight: bold;
}

#herbitem-csv-export:hover{
cursor: pointer;
background: #EEFFAA;

}

#herbitem-next-page, #herbitem-previous-page {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

#herbitem-next-page:hover, #herbitem-previous-page:hover {
  background: #EEFFAA;
}


.herbitem-loader, #tab-preloader {
  background: url("{{STATIC_URL}}/images/herbitem-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin: 0 auto;
  width: 32px;
  z-index: 100;

}

#herbitem-filtering{
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-bottom: 5px;
   display: none;
}


#herbitem-filtering-container{
float: right;
}


ul#herbitem-search-filtering{
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}



ul#herbitem-search-filtering li{
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
  margin-right: 5px;
}

#herbitem-pagination, #herbitem-acronym, #herbitem-subdivision{
max-width: 150px;
height: 3em;
}

#herbitem-map-placeholder{
min-width: 200px;
width: 100%;
min-height: 200px;
height: 400px;
}

</style>
{%endaddtoblock%}

{%addtoblock "js"%}
<!-- 	================== Main javascript code ===============- -->

<script type="text/javascript"  src="//maps.googleapis.com/maps/api/js?key=AIzaSyC_3-gteTrZllW9zGCes2o1HT9ylM6QRXk" async defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- TODO: Insert if lang_code is eng only -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/ru.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>



<script type="text/javascript" >
var cpage = 1; // Current paginated page 

function incrPage(el, inc){  // Just increment the page number 
cpage = cpage + inc
herbitemFind(false);
}

function getornone(el){
var res = null;
var obj = $(el).select2('data');
if (obj !== undefined){
	if (obj[0] !== undefined){
		res = obj[0].text;	
	}
}
return res;
}



function createSearchResult(idata){
// idata -- assumed to be a plain object (converted from json response)
var sftempl = _.template($("#searchform-template").html());
var maptempl = _.template($("#herbitem-map-template").html());
var table = sftempl({items:idata.herbitems, has_previous: idata.has_previous,
							total: idata.total, 
							has_next: idata.has_next,
							pagenumber: idata.pagenumber,
							pagecount: idata.pagecount							
							}); 
var map = maptempl({items:idata.herbitems, has_previous: idata.has_previous,
							total: idata.total, 
							has_next: idata.has_next,
							pagenumber: idata.pagenumber,
							pagecount: idata.pagecount							
							}); 
var result={};
result.map = map;
result.table = table;
return result 
}

function bindSearch(model, mname){
	var element = '#' + model + '-input';
	
$(element).select2({
		language: "{{request.LANGUAGE_CODE}}",
		placeholder: '{%trans "Выберите " %}' + mname,
		ajax: {
    	 url: "{% url 'herbs.views.advice_select' %}",
  		 dataType: 'json',
  		 type: 'GET',
    	 delay: 250,
    	 cache: false,
    	 data: function (params) { 
				    	var familyname = $("#family-input :selected").text();
							var genusname = $("#genus-input :selected").text();
    	 					return {q: params.term,
    	 					model: model,
    	 					family: familyname,
    	 					genus: genusname,
    	 					};
    	 					},
	 processResults: function (data, page) {
      	return {
        	results: data.items
      	};},
    	 },
    	 escapeMarkup: function (m) { return m; }
    		});
}

var scrollPosition = 0;

function showHerbitem(herbid){
  $("table#herbitem-table tr").removeClass("herbitem-selected");
  $("#herbitem-"+herbid).addClass("herbitem-selected");
  scrollPosition = $(document).scrollTop();
  var el = $("div.herbitem-newpage");
  el.html("<h3>{%trans "Открыть в отдельном окне"%}</h3>");
  $("#herbitem-iframe").attr('src', '{{herbitem_personal_url}}' + herbid)
  $("#herbitem-tabs").tabs('option','active',1);
  el.unbind("click");
  el.click(function(){
    var win = window.open('{{herbitem_personal_url}}' + herbid, '_blank');
      if (win) {
         win.focus();
          } else {
           alert('Please allow popups for this website');
            }
  });
  $(document).scrollTop(0);
 }


function csvDownloader(response, status, xhr) {
        // check for a filename
        var filename = "";
        var disposition = xhr.getResponseHeader('Content-Disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            var matches = filenameRegex.exec(disposition);
            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
        }

        var type = xhr.getResponseHeader('Content-Type');
        var blob = new Blob([response], { type: type });

        if (typeof window.navigator.msSaveBlob !== 'undefined') {
            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
            window.navigator.msSaveBlob(blob, filename);
        } else {
            var URL = window.URL || window.webkitURL;
            var downloadUrl = URL.createObjectURL(blob);

            if (filename) {
                // use HTML5 a[download] attribute to specify filename
                var a = document.createElement("a");
                // safari doesn't support this yet
                if (typeof a.download === 'undefined') {
                    window.location = downloadUrl;
                } else {
                    a.href = downloadUrl;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                }
            } else {
                window.location = downloadUrl;
            }

            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
        $("#herbitem-csv-loading").remove();
        }
    }; 

function herbitemFind(csvFlag){
	var family = getornone('#family-input');
	var genus = getornone('#genus-input');
	var species = $('#species-input').val();
	var itemcode = $("#itemcode-input").val();
	var identifiedby = $("#identifiedby-input").val();
	var collectedby = $("#collectedby-input").val();
	var country = getornone("#country-input");
	var colstart = $("#colstart-input").val();
  var colend = $("#colend-input").val();
  var place = $("#place-input").val();

  var acronym = $("#herbitem-acronym").val();
  var pagcount = $("#herbitem-pagination").val();
  var subdivision = $("#herbitem-subdivision").val();


  // TODO: orderby field, increasing decreasing ordering
  
  var orderby = null;
  var order = null;
  
  // TODO: latl lonu etc... positioning needed
  var latl = null;
  var latu = null;
  var lonl = null;
  var lonu = null
  var outputHTML = '';
  var outputData = null;
  var commonError = "{%trans "Возникла ошибка при получении ответа за поисковый запрос" %}";
  if (csvFlag){
    $("#herbitem-csv-export").append('<div class="herbitem-loader" id="herbitem-csv-loading" style="width: 16px; height: 16px;background-size:cover;"></div>');
  }

  if (!csvFlag) {
   $("#herbitem-content-found").html('<div class="herbitem-loader"></div>')
   $.get("{% url 'herbs.views.show_herbs' %}",
			{family:family, genus:genus, species:species, itemcode:itemcode,
			identifiedby:identifiedby,place:place,collectedby:collectedby, country:country, colstart:colstart,
			colend:colend, page:cpage, pagcount: pagcount,acronym:acronym, subdivision:subdivision,
      latl:latl, lonl: lonl, latu:latu, lonu:lonu,
      orderby:orderby, order:order      
      }).done(function(data) {
			if (data.error.length > 0) {
				outputHTML = data.error
			}
			else {
        outputHTML = createSearchResult(data);
        outputData = data;
      }
			}
			).fail(function() {
        $("#herbitem-content-found").html("<h2>" + commonError + "</h2>")
        $("#herbitem-map").html("<h2>" + commonError + "</h2>")
      }).always(function () {
				$("#herbitem-content-found").html( outputHTML.hasOwnProperty('table') ? outputHTML.table : outputHTML);
        $("#herbitem-map-pagelister").html(outputHTML.hasOwnProperty('map') ? outputHTML.map : outputHTML);
        if (outputData&&google) { //render map if data is provided
            renderMap(outputData);       
          };      
      })	
  }
  else{
    $.get("{% url 'herbs.views.show_herbs' %}",
			{family:family, genus:genus, species:species, itemcode:itemcode,
			identifiedby:identifiedby,place:place,collectedby:collectedby, country:country, colstart:colstart,
			colend:colend, page:cpage, pagcount: pagcount,acronym:acronym, subdivision:subdivision,
      latl:latl, lonl: lonl, latu:latu, lonu:lonu, getcsv:csvFlag,
      orderby:orderby, order:order      
      }, csvDownloader);
    }
};

var markers=[];
var infoWindows=[];
var map=null;
                                         
function clearMarkers() {
  for (var i = 0; i < markers.length; i++ ) {
  markers[i].setMap(null);
  infoWindows[i].close();

}
markers.length = 0;
infoWindows.length = 0;
};


function initHerbitemMap(){
el = document.getElementById('herbitem-map-placeholder');
if (map == null && google){ 
    map = new google.maps.Map(el, {
            zoom: 2,
            center: new google.maps.LatLng(43.0,132.0),
            mapTypeId: 'hybrid'});
            }
};

function renderMap(data){
  var avLat=0.0, avLon=0.0;

if (map&&google) {
clearMarkers();
}
else if (google){
initHerbitemMap();
clearMarkers();
}
else{return;}

var indw=0;
for(var i=0; i<data.herbitems.length; i++){
var pos={'lat': parseFloat(data.herbitems[i].lat), 'lng': parseFloat(data.herbitems[i].lon)}
if ((!pos['lat']==0)&&(!pos['lng']==0)){                                          
var marker=new google.maps.Marker({
              position: pos,
              map: map,
              herbitemid: data.herbitems[i].id,
              wix: indw
                                           });
            var infoString='<strong> <b>{%trans "Вид"%}: </strong>' + data.herbitems[i].species + '</br>'
                 + '<strong> {%trans "Дата сбора"%}: </strong>'+ data.herbitems[i].collected_s + '</br>'
                 + '<strong> {%trans "Собрал(и)"%}: </strong>' + data.herbitems[i].collectedby + '</br>'
                       + '<strong> {%trans "Широта"%}: </strong>' + data.herbitems[i].lat + '</br>'                                             + '<strong> {%trans "Долгота"%}: </strong>' + data.herbitems[i].lon + '</p>'                   
var infowindow = new google.maps.InfoWindow({
   content: infoString,
   disableAutoPan: true});
infoWindows.push(infowindow);
                                           
marker.addListener('click', function() {
      showHerbitem(this.herbitemid);
                                           });

marker.addListener('mouseover', function() {
    infoWindows[this.wix].open(map, this);

               });
marker.addListener('mouseout', function() {
  for(var i =0;i<infoWindows.length; i++){ infoWindows[i].close();}
               });

markers.push(marker);
indw+=1;
   }}

var a,b, cnt=0;
for(var i = 0; i < markers.length; i++){
   a =  pos['lat'];
   b  = pos['lng']
  if ((a!=0.0)&&(b!=0.0)){
   cnt += 1
   avLat += a;
   avLon += b;
    };

  };

if (cnt == 0) {
  avLat=0.0; avLon=0.0;
  }
else {
  avLat = avLat/cnt;
  avLon = avLon/cnt;
  }

map.setZoom(2); 
for (var i =0; i<markers.length; i++){markers[i].setMap(map)};
};

function applyFilter(){
  cpage = 1
  herbitemFind(false)
}

//<!-- ============ When DOM is ready ============  -->
$(document).ready(function() { 

bindSearch('family', "{% trans 'Семейство'%}");
bindSearch('genus', "{% trans 'Род'%}");
bindSearch('country', "{% trans 'Страну'%}");

$('#herbitemform-button').click(function (event){
	event.preventDefault();
  cpage = 1;
	herbitemFind(false);
	})
$("#colstart-input, #colend-input").click(function (event){
	$(this).siblings('div.clear-button').css('display', 'inline-block');
})
$("div>input[type=search]" ).keypress(function() {
  $(this).siblings('div.clear-button').css('display', 'inline-block')
});

$('select').on("select2:selecting", function(e) { 
  $(this).siblings('div.clear-button').css('display', 'inline-block')
});



$('div.clear-button').click(function (event){
$(this).css('display', 'none')
var el = $(this).siblings('select') 
if (el.length !== 0 ) { //Clearing select element
el.select2('val', '');
} else{
$(this).siblings('input[type=search]').val(''); //cleaning regular input field
}
})
$("#colstart-input").datepicker({dateFormat: "dd.mm.yy"});
$("#colend-input").datepicker({dateFormat: "dd.mm.yy"});
$("#searchform-clear").click(function (event){
	event.preventDefault();
$('#family-input').select2('val',''); 
$('#genus-input').select2('val', '');
$('#country-input').select2('val', '');
$('div>input[type=search]').val('');
$("#herbitem-search-filtering select").val('');
$('div.clear-button').hide();
$( "div#herb-search-form ul li input:text" ).each(function() {  
	$(this).val('');
});

cpage = 1;// <!-- Find cpage in the outer scope and change it; i.e. pagination counter -->
herbitemFind(false);
});
$("#herbitem-search-filtering select").change(applyFilter);
$("#herbitem-tabs").tabs({active: 0, 
  activate: function(el,ui){
   if (ui.newPanel.selector == "#herbitem-content-main"){
    $(document).scrollTop(scrollPosition);
    scrollPosition = 0;
   }
  if (ui.newPanel.selector == '#herbitem-map'){
     if (google&&map){google.maps.event.trigger(map,'resize');
        };
  }

}});

var colwidth = $("div.centralcontainer").width();
var swidth = $("#herb-search-form").width();
$("#herbitem-tabs").width(colwidth-swidth-40 + 'px')
$("#herbitem-filtering-container").width(colwidth-swidth-40+'px');
$("#herbitem-filtering").show();
herbitemFind(false);
$("#herbitem-tabs").tabs('option','active',0);
$("#tab-preloader").remove();
$("#herbitem-tabs").show();
initHerbitemMap();
});
<!--  =========================================== -->
</script>


{%endaddtoblock%}

<!--  ======================================================== -->
