{% load  i18n sekizai_tags %}

<!--  ===================== Info ============================ 
Author: Dmitry E. Kislov
E-mail: kislov@easydan.com
Created: 30 Aug, 2016
	  ======================================================== -->

<!--  ============Herbitem main searchform ================== --> 

<div id="herb-search-form">
  <ul>  
    <li><input type="submit" id="herbitemform-button" value="{% trans "Найти" %}"></li> 
    <li><input type="submit" id="searchform-clear" value="{%trans "Очистить"%}" title="{%trans "Очистить все условия поиска"%}" ></li>
	<li><label for="family-input">{%trans "Семейство"%}:</label><div><select id="family-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="genus-input">{%trans "Род"%}:</label><div><select id="genus-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
  <li><label for="species-input">{%trans "Видовой эпитет"%}:</label><div><input type="search" id="species-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div>
      <div><input type="checkbox" name="synonyms" value="False" id="synonyms-input">{%trans "Учитывать синонимы"%}</div>
        <div id="synonyms-error-message">{%trans "Поля род и видовой эпитет должны быть заполнены, иначе условие поиска будет проигнорировано"%}</div>
        <div title="{%trans "Некоторые гербарные сборы могут содержать более одного вида" %}"><input type="checkbox" name="additionals" value="False" id="additionals-input">{%trans "Искать в дополнительных видах"%}</div>
  </li>
  <li><label for="itemcode-input">{%trans "Код"%}:</label><div><input type="search" id="itemcode-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="collectedby-input">{%trans "Собрал(и)"%}:</label><div><input type="search" id="collectedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="identifiedby-input">{%trans "Определил(и)"%}:</label><div><input type="search" id="identifiedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="country-input">{%trans "Страна"%}:</label><div><select id="country-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></li>

  <li><label for="place-input">{%trans "Место сбора"%}:</label><div><input type="search" id="place-input" value="" placeholder="{%trans "Место сбора"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="colstart-input">{%trans "Дата сбора (начало)"%}:</label>
    <div><input type="search" id="colstart-input" value="" placeholder="{%trans "Начало сбора"%}">
    <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div>
    </div>
  </li>
 <li><label for="colend-input">{%trans "Дата сбора (окончание)"%}:</label><div>
  <input type="search" id="colend-input" value="" placeholder="{%trans "Конец сбора"%}"> <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
     
  </ul>
</div> 

<!--  ======================================================== -->

<!--  ============Herbitem content found ===================== --> 
<div id="herbitem-filtering-container">
<div id="herbitem-filtering">
        <ul id="herbitem-search-filtering">
           <li><select id="herbitem-pagination"> 
               <option value="">{%trans "Количество"%}</option>
               <option value="20">20</option>
               <option value="50">50</option>
               <option value="100">100</option>
               <option value="200">200</option>
               </select>   
           </li> 
           <li><select id="herbitem-acronym">
               <option value="">{%trans "Название гербария"%}</option>
               {%for acronym in acronyms%} 
                 <option value="{{acronym.pk}}">{{acronym.institute}} ({{acronym.name}})</option>
               {%endfor%}
              </select>   
           </li>
           <li><select id="herbitem-subdivision">
               <option value="">{%trans "Подраздел гербария"%}</option>
               {%for subdivision in subdivisions%} 
                 <option value="{{subdivision.pk}}">{{subdivision.name}}</option>
               {%endfor%}
              </select>   
           </li>
         <ul>
</div>
</div> 

<div id="tab-preloader"></div>
<div id="herbitem-tabs">
  <ul>
    <li><a href="#herbitem-content-main">{%trans "Общая информация"%}</a></li>
    <li><a href="#herbitem-details">{%trans "Информация об образце"%}</a></li>
    <li><a href="#herbitem-map">{%trans "Карта" %}</a></li>
    </ul>
    <div id="herbitem-content-main">
     <div id="herbitem-content-found"><div class="herbitem-loader"></div></div>
    </div>

    <div id="herbitem-details">
     <div class="herbitem-newpage"><h2>{%trans "Не выбран ни один элемент"%}<h2></div>
      <iframe id="herbitem-iframe" src="" width=100% height=1000px style="border:0"></iframe>
    </div>
  
    <div id="herbitem-map">
      <div id="herbitem-map-pagelister"></div>
    <div id="latlon-container">
        <div id="lat-bottom">
            <label for="latl-input">Lat, min</label>
            <input id="latl-input" title="Широта, град.">
        </div>
        <div id="lat-top">
            <label for="latu-input">Lat, max</label>
            <input id="latu-input" title="Широта, град.">
        </div>
        <div id="lon-right">
            <label for="lonu-input">Lon, max</label>
            <input id="lonu-input" title="Долгота, град.">
        </div>
        <div id="lon-left">
            <label for="lonl-input">Lon, min</label>
            <input id="lonl-input" title="Долгота, град.">
        </div>
        <div id="latlon-rect" title="{%trans "Искать в заданной области"%}">
            <input type="submit" id="herbitem-rectangle" value="">
        </div>
        <div class="clear-rect-bounds" title="{%trans "Очистить условия поиска по области"%}"><span class="ui-icon ui-icon-trash"></span></div>
    </div>
    <p>{%trans "Чтобы инициализировать область поиска дважды кликните мышкой" %}</p> 
        <div id="herbitem-markers-available"></div>
        <div id="herbitem-map-placeholder"></div>
        <div>*{%trans "Отображены только те записи, у которых заданы координаты сбора" %} </div>
  </div>
</div>
<!--  ======================================================== -->




<!-- ============-Searchform template ======================== -->
<script id="herbitem-map-template" type="text/x-underscore-template">
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>
<div class="herbitem-found-total">{%trans "Всего:"%} <%= total %></div>
</script>

<script id="searchform-template" type="text/x-underscore-template">
{% if user.is_authenticated %}
<div id="herbitem-csv-export" onclick="herbitemFind(true)"> {%trans "Сохранить в csv-файл" %}</div>
{%endif%}
<h2> {%trans "Результаты поиска:"%} </h2>
<div class="herbitem-found-total">{%trans "Всего:"%} <%= total %></div>
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>

<table id="herbitem-table" style="max-width: 690px;">
   <thead>
    <tr style="height:3em;">
     <td>  {% trans "Код объекта"%} </td>
     <td>  {% trans "Вид"%} </td>
     <td>  {% trans "Дата сбора"%} </td>
     <td>  {% trans "Коллектор(ы)"%} </td>
     <td>  {% trans "Определил(и)"%} </td> 
</tr> 
   </thead>
	<tbody>
		<%
        _.each(items, function(item, index, list){
       var itemcode = (item.itemcode == '') ? '*': item.itemcode;
			 var fieldid  = (item.fieldid == '') ? '': ('/' + String(item.fieldid));
       var herbid = item.id;
       var coldate = item.collected_s;
       var collectors  = item.collectedby;
			 var species = item.species;
       var identifiers = item.identifiedby; 
       var idstr = itemcode + '/' + herbid + fieldid;

		if (index % 2 == 0) { %>
    <tr class="herbitem-even" id="herbitem-<%= herbid %>"  onclick="showHerbitem(<%= herbid %>)">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
   <%	} else { %>
    <tr class="herbitem-odd" id="herbitem-<%= herbid %>" onclick="showHerbitem(<%= herbid %>);">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
	<%	}}); %>
	</tbody>   
</table>
</script>
<!--  ======================================================== -->

{%addtoblock "css"%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" >
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{STATIC_URL}}/css/herbarium.css"%}">
<style type="text/css">
.herbitem-loader, #tab-preloader {
  background: url("{{STATIC_URL}}/images/herbitem-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin: 0 auto;
  width: 32px;
  z-index: 100;
}
</style>
{%endaddtoblock%}

{%addtoblock "js"%}
<script type="text/javascript"  src="//maps.googleapis.com/maps/api/js?key=AIzaSyC_3-gteTrZllW9zGCes2o1HT9ylM6QRXk" async defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- TODO: Insert if lang_code is eng only -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/ru.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{{STATIC_URL}}/js/herbarium.js"></script>
{%endaddtoblock%}

