{% load  i18n sekizai_tags %}

<!--  ===================== Info ============================ 
Author: Dmitry E. Kislov
E-mail: kislov@easydan.com
Created: 30 Aug, 2016
	  ======================================================== -->

<!--  ============Herbitem main searchform ================== --> 

<div id="herb-search-form">
  <ul>  
    <li><input type="submit" id="herbitemform-button" value="{% trans "Найти" %}"></li> 
    <li><input type="submit" id="searchform-clear" value="{%trans "Очистить"%}" title="{%trans "Очистить все условия поиска"%}" ></li>
	<li><label for="family-input">{%trans "Семейство"%}:</label><div><select id="family-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="genus-input">{%trans "Род"%}:</label><div><select id="genus-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
  <li><label for="species-input">{%trans "Видовой эпитет"%}:</label><div><input type="search" id="species-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div>
      <div><input type="checkbox" name="synonyms" value="False" id="synonyms-input">{%trans "Учитывать синонимы"%}</div>
        <div id="synonyms-error-message">{%trans "Поля род и видовой эпитет должны быть заполнены, иначе условие поиска будет проигнорировано"%}</div>
        <div title="{%trans "Некоторые гербарные сборы могут содержать более одного вида" %}"><input type="checkbox" name="additionals" value="False" id="additionals-input">{%trans "Искать в дополнительных видах"%}</div>
  </li>
  <li><label for="itemcode-input">{%trans "Код"%}:</label><div><input type="search" id="itemcode-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="collectedby-input">{%trans "Собрал(и)"%}:</label><div><input type="search" id="collectedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
	<li><label for="identifiedby-input">{%trans "Определил(и)"%}:</label><div><input type="search" id="identifiedby-input" value="" placeholder="{%trans "Текстовое поле"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="country-input">{%trans "Страна"%}:</label><div><select id="country-input"></select><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></li>

  <li><label for="place-input">{%trans "Место сбора"%}:</label><div><input type="search" id="place-input" value="" placeholder="{%trans "Место сбора"%}"><div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>

  <li><label for="colstart-input">{%trans "Дата сбора (начало)"%}:</label>
    <div><input type="search" id="colstart-input" value="" placeholder="{%trans "Начало сбора"%}">
    <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div>
    </div>
  </li>
 <li><label for="colend-input">{%trans "Дата сбора (окончание)"%}:</label><div>
  <input type="search" id="colend-input" value="" placeholder="{%trans "Конец сбора"%}"> <div class="clear-button"><span class="ui-icon ui-icon-trash"></span></div></div></li>
     
  </ul>
</div> 

<!--  ======================================================== -->

<!--  ============Herbitem content found ===================== --> 
<div id="herbitem-filtering-container">
<div id="herbitem-filtering">
        <ul id="herbitem-search-filtering">
           <li><select id="herbitem-pagination"> 
               <option value="">{%trans "Количество"%}</option>
               <option value="20">20</option>
               <option value="50">50</option>
               <option value="100">100</option>
               <option value="200">200</option>
               </select>   
           </li> 
           <li><select id="herbitem-acronym">
               <option value="">{%trans "Название гербария"%}</option>
               {%for acronym in acronyms%} 
                 <option value="{{acronym.pk}}">{{acronym.institute}} ({{acronym.name}})</option>
               {%endfor%}
              </select>   
           </li>
           <li><select id="herbitem-subdivision">
               <option value="">{%trans "Подраздел гербария"%}</option>
               {%for subdivision in subdivisions%} 
                 <option value="{{subdivision.pk}}">{{subdivision.name}}</option>
               {%endfor%}
              </select>   
           </li>
         <ul>
</div>
</div> 

<div id="tab-preloader"></div>
<div id="herbitem-tabs">
  <ul>
    <li><a href="#herbitem-content-main">{%trans "Общая информация"%}</a></li>
    <li><a href="#herbitem-details">{%trans "Информация об образце"%}</a></li>
    <li><a href="#herbitem-map">{%trans "Карта" %}</a></li>
    </ul>
    <div id="herbitem-content-main">
     <div id="herbitem-content-found"><div class="herbitem-loader"></div></div>
    </div>

    <div id="herbitem-details">
     <div class="herbitem-newpage"><h2>{%trans "Не выбран ни один элемент"%}<h2></div>
      <iframe id="herbitem-iframe" src="" width=100% height=1000px style="border:0"></iframe>
    </div>
  
    <div id="herbitem-map">
      <div id="herbitem-map-pagelister"></div>
    <div id="latlon-container">
        <div id="lat-bottom">
            <label for="latl-input">Lat, min</label>
            <input id="latl-input" title="Широта, град.">
        </div>
        <div id="lat-top">
            <label for="latu-input">Lat, max</label>
            <input id="latu-input" title="Широта, град.">
        </div>
        <div id="lon-right">
            <label for="lonu-input">Lon, max</label>
            <input id="lonu-input" title="Долгота, град.">
        </div>
        <div id="lon-left">
            <label for="lonl-input">Lon, min</label>
            <input id="lonl-input" title="Долгота, град.">
        </div>
        <div id="latlon-rect" title="{%trans "Искать в заданной области"%}">
            <input type="submit" id="herbitem-rectangle" value="">
        </div>
        <div class="clear-rect-bounds" title="{%trans "Очистить условия поиска по области"%}"><span class="ui-icon ui-icon-trash"></span></div>
    </div>
    <p>{%trans "Чтобы инициализировать область поиска дважды кликните мышкой" %}</p> 
        <div id="herbitem-markers-available"></div>
        <div id="herbitem-map-placeholder"></div>
        <div>*{%trans "Отображены только те записи, у которых заданы координаты сбора" %} </div>
  </div>
</div>
<!--  ======================================================== -->




<!-- ============-Searchform template ======================== -->
<script id="herbitem-map-template" type="text/x-underscore-template">
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>
</script>

<script id="searchform-template" type="text/x-underscore-template">
{% if user.is_authenticated %}
<div id="herbitem-csv-export" onclick="herbitemFind(true)"> {%trans "Сохранить в csv-файл" %}</div>
{%endif%}
<h2> {%trans "Результаты поиска:"%} </h2>
<div class="herbitem-page-lister">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="herbitem-previous-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>
        </span>
        <% if (has_next) {%>
        	<span id="herbitem-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>

<table id="herbitem-table" style="max-width: 690px;">
   <thead>
    <tr style="height:3em;">
     <td>  {% trans "Код объекта"%} </td>
     <td>  {% trans "Вид"%} </td>
     <td>  {% trans "Дата сбора"%} </td>
     <td>  {% trans "Коллектор(ы)"%} </td>
     <td>  {% trans "Определил(и)"%} </td> 
</tr> 
   </thead>
	<tbody>
		<%
        _.each(items, function(item, index, list){
       var itemcode = (item.itemcode == '') ? '*': item.itemcode;
			 var fieldid  = (item.fieldid == '') ? '': ('/' + String(item.fieldid));
       var herbid = item.id;
       var coldate = item.collected_s;
       var collectors  = item.collectedby;
			 var species = item.species;
       var identifiers = item.identifiedby; 
       var idstr = itemcode + '/' + herbid + fieldid;

		if (index % 2 == 0) { %>
    <tr class="herbitem-even" id="herbitem-<%= herbid %>"  onclick="showHerbitem(<%= herbid %>)">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
   <%	} else { %>
    <tr class="herbitem-odd" id="herbitem-<%= herbid %>" onclick="showHerbitem(<%= herbid %>);">
			<td><%= idstr %></td>
			<td><%= species %></td>
			<td><%= coldate %></td>
			<td><%= collectors %></td>
			<td><%= identifiers %></td>
		</tr>
	<%	}}); %>
<tfoot><tr><td>{%trans "Всего:"%} <%= total %></td></tr></tfoot>
	</tbody>   
</table>
</script>
<!--  ======================================================== -->

{%addtoblock "css"%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" >
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<style type="text/css">
#family-input, #genus-input, #species-input, #country-input, #itemcode-input, #collectedby-input, #identifiedby-input,
#place-input, #colend-input, #colstart-input
	{
	width:200px;
    height: 2em
  }
.clear-button{
	display: none;
	cursor:pointer;
}

.clear-rect-bounds{
	display: none;
	cursor:pointer;
	}

#herb-search-form>ul{
list-style-type: none;
}	
#herb-search-form>ul li{
padding-bottom:10px;
}

#herb-search-form>ul li:nth-child(1){
float:left;
}

label {font-weight: bold; display:block;}
label + * {margin-left: 2em; margin-top: 5px;}

.herbitem-even{
  background: #EEEEEE;
  height: 2em;

}

.herbitem-selected {
background: #EEFFAA !important;
}

.herbitem-page-lister{
  text-align: center;
  margin-bottom: 5px;  
}
#searchform-clear{
padding: 10px;
font-size: medium;
}
#searchform-clear:hover{
  cursor:pointer;
}

#herbitemform-button{
padding:10px;
font-size:medium;
}

#herbitemform-button:hover{
cursor:pointer}

.herbitem-odd{
  background: #FFFFFF;
  height: 2em;
}
.herbitem-even:hover, .herbitem-odd:hover{
background: #EEFFAA;
cursor: pointer;
}
#herbitem-tabs{
float: right;
width: 50%;
display: none;
}
#herbitem-table {
width:100%;
padding: 10px;
}
#herbitem-table > thead{
background: #22FFAA;
}
#herbitem-table tr td {
padding: 4px;
}
#herbitem-content-found {
  display: block;
  float: left;
  width: 100%;
}
#herb-search-form{
  display:block;
  float:left;
}
.herbitem-newpage{
color: blue;
float: right;
}
.herbitem-newpage:hover{
  cursor: pointer;
  color: green;
}

#herbitem-csv-export{
float: right;
padding: 5px;
font-size: 14pt;
font-weight: bold;
}

#herbitem-csv-export:hover{
cursor: pointer;
background: #EEFFAA;

}

#herbitem-next-page, #herbitem-previous-page {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

#herbitem-next-page:hover, #herbitem-previous-page:hover {
  background: #EEFFAA;
}


.herbitem-loader, #tab-preloader {
  background: url("{{STATIC_URL}}/images/herbitem-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;
  margin: 0 auto;
  width: 32px;
  z-index: 100;

}

#herbitem-filtering{
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-bottom: 5px;
   display: none;
}


#herbitem-filtering-container{
float: right;
}


ul#herbitem-search-filtering{
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}



ul#herbitem-search-filtering li{
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
  margin-right: 5px;
}

#herbitem-pagination, #herbitem-acronym, #herbitem-subdivision{
max-width: 150px;
height: 3em;
}

#herbitem-map-placeholder{
min-width: 200px;
width: 100%;
min-height: 200px;
height: 400px;
}

#herbitem-markers-available{
float:right;
font-size: 12pt;
}
#synonyms-error-message{
  display: none;
  font-size:8pt;
  color: red;
  width: 220px;
}

div#latlon-container{
  width: 160px; 
  height: 100px;
  border-radius: 4px;
  padding: 3px; 
  position:relative;
  margin: 0 auto;
  }
  
div#lon-left{
  top: 30px;
  left: 0px;
  position:absolute;
  float: left;
  }
  
div#lon-right{
  right: 0px;
  top: 30px;
  position:absolute;
  }
  
div#lat-top{
  left: 60px;
  top: 0px;
  position:absolute;
  }
  
div#lat-bottom
  {
 bottom: 0px;
 left: 60px;
 position:absolute;
  }

div#latlon-rect {
  top: 40px;
  left: 60px;
  position:absolute;
  }
  
div#latlon-rect input#herbitem-rectangle{
  width: 40px;
  height: 2em;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhBggFLCvIfu/NAAAAv0lEQVQoz4XRMUvDQBgG4Cc5MVXBpY0W0dUg6Or/H51cpY4WlBJRxEGbNolDkzRgSm+6+3h4Ob6XPSfqbiOpoJT7HQKZK3UzmZttwQG4MfXh2VIicyH21IKAkVtfHhUqhTdjZ16tNyBGquqHmqml7SNGEPnpgWWT3IESRz2QNLMO5CLXPZAh739yLTEx9q127M6p0otq1x428ZUHxf9NHirkgnt1S6LBAk62JAyCldylyLl52FHiyruJhc99bfsDV8E4JPJOw2AAAAAASUVORK5CYII=');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  }
  
 
  
#latlon-container input{
  width: 40px;
  border-radius: 3px;
  height: 1em;
  margin: 0;
  }
  
#latlon-container label{
font-size: 8pt;
display: block;
}



ul.herbitem-warnings{
  list-style-type: none;
  padding: 0px;
  margin: 0px;

}

ul.herbitem-warnings li {
margin : 0px;
padding: 3px;
color: black;
background-color: #CEF;
border-radius: 8px;
}

ul.herbitem-warnings li::before {
  content: "Warning: ";
  font-weight: bold;
}

ul.herbitem-errors{
  list-style-type: none;
  padding: 0px;
  margin: 0px;

}

ul.herbitem-errors li {
margin : 0px;
padding: 3px;
color: red;
background-color: #FEA;
border-radius: 8px;

}

ul.herbitem-errors li::before {
  content: "Error: ";
  font-weight: bold;
}

</style>
{%endaddtoblock%}

{%addtoblock "js"%}
<!-- 	================== Main javascript code ===============- -->

<script type="text/javascript"  src="//maps.googleapis.com/maps/api/js?key=AIzaSyC_3-gteTrZllW9zGCes2o1HT9ylM6QRXk" async defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- TODO: Insert if lang_code is eng only -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/ru.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>



<script type="text/javascript" >
var cpage = 1; // Current paginated page 

function incrPage(el, inc){  // Just increment the page number 
cpage = cpage + inc
herbitemFind(false);
}

function getornone(el){
var res = null;
var obj = $(el).select2('data');
if (obj !== undefined){
	if (obj[0] !== undefined){
		res = obj[0].text;	
	}
}
return res;
}



function createSearchResult(idata){
// idata -- assumed to be a plain object (converted from json response)
var sftempl = _.template($("#searchform-template").html());
var maptempl = _.template($("#herbitem-map-template").html());
var table = sftempl({items:idata.herbitems, has_previous: idata.has_previous,
							total: idata.total, 
							has_next: idata.has_next,
							pagenumber: idata.pagenumber,
							pagecount: idata.pagecount							
							}); 
var map = maptempl({items:idata.herbitems, has_previous: idata.has_previous,
							total: idata.total, 
							has_next: idata.has_next,
							pagenumber: idata.pagenumber,
							pagecount: idata.pagecount							
							}); 
var result={};
result.map = map;
result.table = table;
return result 
}

function bindSearch(model, mname){
	var element = '#' + model + '-input';
	
$(element).select2({
		language: "{{request.LANGUAGE_CODE}}",
		placeholder: '{%trans "Выберите " %}' + mname,
		ajax: {
    	 url: "{% url 'herbs.views.advice_select' %}",
  		 dataType: 'json',
  		 type: 'GET',
    	 delay: 250,
    	 cache: false,
    	 data: function (params) { 
				    	var familyname = $("#family-input :selected").text();
							var genusname = $("#genus-input :selected").text();
    	 					return {q: params.term,
    	 					model: model,
    	 					family: familyname,
    	 					genus: genusname,
    	 					};
    	 					},
	 processResults: function (data, page) {
      	return {
        	results: data.items
      	};},
    	 },
    	 escapeMarkup: function (m) { return m; }
    		});
}

var scrollPosition = 0;

function showHerbitem(herbid){
  $("table#herbitem-table tr").removeClass("herbitem-selected");
  $("#herbitem-"+herbid).addClass("herbitem-selected");
  scrollPosition = $(document).scrollTop();
  var el = $("div.herbitem-newpage");
  el.html("<h3>{%trans "Открыть в отдельном окне"%}</h3>");
  $("#herbitem-iframe").attr('src', '{{herbitem_personal_url}}' + herbid)
  $("#herbitem-tabs").tabs('option','active',1);
  el.unbind("click");
  el.click(function(){
    var win = window.open('{{herbitem_personal_url}}' + herbid, '_blank');
      if (win) {
         win.focus();
          } else {
           alert('Please allow popups for this website');
            }
  });
  $(document).scrollTop(0);
 }


function csvDownloader(response, status, xhr) {
        // check for a filename
        var filename = "";
        var disposition = xhr.getResponseHeader('Content-Disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            var matches = filenameRegex.exec(disposition);
            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
        }

        var type = xhr.getResponseHeader('Content-Type');
        var blob = new Blob([response], { type: type });

        if (typeof window.navigator.msSaveBlob !== 'undefined') {
            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
            window.navigator.msSaveBlob(blob, filename);
        } else {
            var URL = window.URL || window.webkitURL;
            var downloadUrl = URL.createObjectURL(blob);

            if (filename) {
                // use HTML5 a[download] attribute to specify filename
                var a = document.createElement("a");
                // safari doesn't support this yet
                if (typeof a.download === 'undefined') {
                    window.location = downloadUrl;
                } else {
                    a.href = downloadUrl;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                }
            } else {
                window.location = downloadUrl;
            }

            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
        $("#herbitem-csv-loading").remove();
        }
    }; 

function herbitemFind(csvFlag){
	var family = getornone('#family-input');
	var genus = getornone('#genus-input');
	var species = $('#species-input').val();
	var itemcode = $("#itemcode-input").val();
	var identifiedby = $("#identifiedby-input").val();
	var collectedby = $("#collectedby-input").val();
	var country = getornone("#country-input");
	var colstart = $("#colstart-input").val();
  var colend = $("#colend-input").val();
  var place = $("#place-input").val();

  var acronym = $("#herbitem-acronym").val();
  var pagcount = $("#herbitem-pagination").val();
  var subdivision = $("#herbitem-subdivision").val();
  var synonyms = $("#synonyms-input").is(":checked");
  var additionals = $("#additionals-input").is(":checked"); 

  // TODO: orderby field, increasing decreasing ordering
  var orderby = null;
  var order = null;
  var latl = $('#latl-input').val();
  var latu = $('#latu-input').val();
  var lonl = $('#lonl-input').val();
  var lonu = $('#lonu-input').val();
  var outputHTML = '';
  var errorString = '';
  var warningString = '';
  var outputData = null;
  var commonError = "{%trans "Возникла ошибка при получении ответа за поисковый запрос" %}";
  if (csvFlag){
    $("#herbitem-csv-export").append('<div class="herbitem-loader" id="herbitem-csv-loading" style="width: 16px; height: 16px;background-size:cover;"></div>');
  }

  if (!csvFlag) {
   $("#herbitem-content-found").html('<div class="herbitem-loader"></div>')
   $.get("{% url 'herbs.views.show_herbs' %}",
			{family:family, genus:genus, species_epithet:species, itemcode:itemcode,
			identifiedby:identifiedby,place:place,collectedby:collectedby, country:country, colstart:colstart,
			colend:colend, page:cpage, pagcount: pagcount,acronym:acronym, subdivision:subdivision,
      latl:latl, lonl: lonl, latu:latu, lonu:lonu, synonyms: synonyms, additionals: additionals,
      orderby:orderby, order:order      
      }).done(function(data) {
      if (data.warnings.length>0){
        warningString += '<ul class="herbitem-warnings">'
      for(var i=0;i<data.warnings.length; i++){
               warningString += '<li>' +  data.warnings[i] + '</li>'
              }
               warningString += '</ul>'}

      if (data.errors.length > 0) {
        errorString += '<ul class="herbitem-errors">'
        for (var i=0; i<data.errors.length; i++){
              errorString +=   '<li>' +  data.errors[i] + '</li>'
                           }
        errorString += '</ul>'
           } else {
      outputHTML = createSearchResult(data);
      outputData = data;
      }}
			).fail(function() {
        $("#herbitem-content-found").html("<h2>" + commonError + "</h2>")
        $("#herbitem-map").html("<h2>" + commonError + "</h2>")
      }).always(function () {
                            $("#herbitem-content-found").html( outputHTML.hasOwnProperty('table') ? warningString + errorString + outputHTML.table : "<h2>" + commonError + "</h2>" + warningString + errorString);
        $("#herbitem-map-pagelister").html(outputHTML.hasOwnProperty('map') ? warningString + errorString + outputHTML.map : "<h2>" + commonError + "</h2>" + warningString + errorString);
        if (outputData&&google) { 
            renderMap(outputData);      
          };      
      })	
                            
  }
  else{
    $.get("{% url 'herbs.views.show_herbs' %}",
			{family:family, genus:genus, species_epithet:species, itemcode:itemcode,
			identifiedby:identifiedby,place:place,collectedby:collectedby, country:country, colstart:colstart,
			colend:colend, page:cpage, pagcount: pagcount,acronym:acronym, subdivision:subdivision,
      latl:latl, lonl: lonl, latu:latu, lonu:lonu, getcsv:csvFlag, synonyms: synonyms, additionals: additionals,
      orderby:orderby, order:order      
      }, csvDownloader);
    }

};

var markers=[];
var infoWindows=[];
var map=null;
var rectSelector=null;
                                         
function clearMarkers() {
  for (var i = 0; i < markers.length; i++ ) {
  markers[i].setMap(null);
  infoWindows[i].close();

}
markers.length = 0;
infoWindows.length = 0;
};


function initHerbitemMap(){
el = document.getElementById('herbitem-map-placeholder');
if (map == null && google){ 
    map = new google.maps.Map(el, {
            zoom: 2,
            center: {'lat': 43.0,'lng': 132.0},
            mapTypeId: 'hybrid'});

    map.addListener('dblclick', function (event) {
              if (rectSelector == null){ 
             var thepoint = event.latLng;
             bounds = {
                  north: thepoint.lat() + 3,
                  south: thepoint.lat() - 3,
                  east:  thepoint.lng() + 3,
                  west:  thepoint.lng() - 3}
                  initRectSelection(bounds);
                  $("#latl-input").val(bounds.south);
                  $("#latu-input").val(bounds.north);
                  $("#lonu-input").val(bounds.east);
                  $("#lonl-input").val(bounds.west);                  
                            }})}};


function updateLatLng(){
   if (map != null && rectSelector != null) {
        var ne = rectSelector.getBounds().getNorthEast();
        var sw = rectSelector.getBounds().getSouthWest();
        $('#lonl-input').val(sw.lng());
        $('#lonu-input').val(ne.lng());
        $('#latu-input').val(ne.lat());
        $('#latl-input').val(sw.lat());
        }}; 


function initRectSelection(bounds){
  if (map != null){
      var mapCenter = map.getCenter();
      var mapBounds = map.getBounds();
      var scale;
      scale = (mapBounds.north - mapBounds.south)/5.0
      if (!bounds) {      
      var bounds;
      bounds = {
                north: mapCenter.lat() + scale,
                south: mapCenter.lat() - scale,
                east:  mapCenter.lng() + scale,
                west:  mapCenter.lng() - scale
                                           };
                                           }
      rectSelector = new google.maps.Rectangle({
                        bounds: bounds,
                        editable: true,
                        draggable: true,
                        fillOpacity: 0.4,
                        fillColor: '#11AA33'
                                  });
      rectSelector.setMap(map);
      rectSelector.addListener('bounds_changed', updateLatLng);
      if (!($('div.clear-rect-bounds').is(":visible"))){ 
        $('div.clear-rect-bounds').show();};
  }
  else{
    alert("{% trans "Карты google еще не инициализированы"%}");
  }
}

function renderMap(data){
  var avLat=0.0, avLon=0.0;

if (map&&google) {
clearMarkers();
}
else if (google){
initHerbitemMap();
clearMarkers();
}
else{return;}

var indw=0;
for(var i=0; i<data.herbitems.length; i++){
var pos={'lat': parseFloat(data.herbitems[i].lat), 'lng': parseFloat(data.herbitems[i].lon)}
if ((!pos['lat']==0)&&(!pos['lng']==0)){                                          
var marker=new google.maps.Marker({
              position: pos,
              map: map,
              herbitemid: data.herbitems[i].id,
              wix: indw
                                           });
            var infoString='<strong> <b>{%trans "Вид"%}: </strong>' + data.herbitems[i].species + '</br>'
                 + '<strong> {%trans "Дата сбора"%}: </strong>'+ data.herbitems[i].collected_s + '</br>'
                 + '<strong> {%trans "Собрал(и)"%}: </strong>' + data.herbitems[i].collectedby + '</br>'
                       + '<strong> {%trans "Широта"%}: </strong>' + data.herbitems[i].lat + '</br>'                                             + '<strong> {%trans "Долгота"%}: </strong>' + data.herbitems[i].lon + '</p>'                   
var infowindow = new google.maps.InfoWindow({
   content: infoString,
   disableAutoPan: true});
infoWindows.push(infowindow);
                                           
marker.addListener('click', function() {
      showHerbitem(this.herbitemid);
                                           });

marker.addListener('mouseover', function() {
    infoWindows[this.wix].open(map, this);

               });
marker.addListener('mouseout', function() {
  for(var i =0;i<infoWindows.length; i++){ infoWindows[i].close();}
               });

markers.push(marker);
indw+=1;
  }}

var a,b, cnt=0;
for(var i = 0; i < markers.length; i++){
   a =  pos['lat'];
   b  = pos['lng']
  if ((a!=0.0)&&(b!=0.0)){
   cnt += 1
   avLat += a;
   avLon += b;
    };

  };

if (cnt == 0) {
  avLat=0.0; avLon=0.0;
  }
else {
  avLat = avLat/cnt;
  avLon = avLon/cnt;
  }

  if (markers){
for (var i =0; i<markers.length; i++){markers[i].setMap(map)};
 $("#herbitem-markers-available").html('{% trans "На карте отображено" %} ' + markers.length + ' {% trans "запись(ей)" %}*');
                              } 
else{
  $("#herbitem-markers-available").html('');
   }                           
};

function applyFilter(){
  cpage = 1
  herbitemFind(false)
}

//<!-- ============ When DOM is ready ============  -->
$(document).ready(function() { 

bindSearch('family', "{% trans 'Семейство'%}");
bindSearch('genus', "{% trans 'Род'%}");
bindSearch('country', "{% trans 'Страну'%}");

$('#herbitemform-button').click(function (event){
	event.preventDefault();
  cpage = 1;
	herbitemFind(false);
	})
$("#colstart-input, #colend-input").click(function (event){
	$(this).siblings('div.clear-button').css('display', 'inline-block');
})
$("div>input[type=search]" ).keypress(function() {
  $(this).siblings('div.clear-button').css('display', 'inline-block')
});

$('select').on("select2:selecting", function(e) { 
  $(this).siblings('div.clear-button').css('display', 'inline-block')
});

$("#latlon-rect").click(function(){
  cpage=1;
  herbitemFind(false);
});

$('div.clear-button').click(function (event){
$(this).css('display', 'none')
var el = $(this).siblings('select') 
if (el.length !== 0 ) { //Clearing select element
el.select2('val', '');
} else{
$(this).siblings('input[type=search]').val(''); //cleaning regular input field
}a
});

$('div.clear-rect-bounds').click(function(){
$(this).css('display', 'none');
$('#latl-input').val('');
$('#latu-input').val('');
$('#lonl-input').val('');
$('#lonu-input').val('');
if (rectSelector!=null){rectSelector.setMap(null);};
rectSelector=null;
});

$("#colstart-input").datepicker({dateFormat: "dd.mm.yy"});
$("#colend-input").datepicker({dateFormat: "dd.mm.yy"});
$("#searchform-clear").click(function (event){
	event.preventDefault();
$("#synonyms-input").prop('checked', false);
$("#additionals-input").prop('checked', false);
clearMarkers();
$("#synonyms-error-message").hide(); 
$('#family-input').select2('val',''); 
$('#genus-input').select2('val', '');
$('#country-input').select2('val', '');
$('div>input[type=search]').val('');
$("#herbitem-search-filtering select").val('');
$('div.clear-button').hide();
$("div.clear-rect-bounds").hide();
// Clear map rectangular filtering
$('#latl-input').val('');
$('#latu-input').val('');
$('#lonl-input').val('');
$('#lonu-input').val('');
if (rectSelector!=null){rectSelector.setMap(null);};
rectSelector=null;
$( "div#herb-search-form ul li input:text" ).each(function() {  
	$(this).val('');
});

cpage = 1;// <!-- Find cpage in the outer scope and change it; i.e. pagination counter -->
herbitemFind(false);
});

$("#latl-input, #latu-input, #lonl-input, #lonu-input").change(function(){
  var latl, latu, lonl, lonu;
  latl = $("#latl-input").val();
  lonl = $("#lonl-input").val();
  latu = $("#latu-input").val();
  lonu = $("#lonu-input").val();
  if (latl&&lonl&&latu&&lonu){
      if (rectSelector != null){
      rectSelector.setMap(null);
      rectSelector = null
      };
       var bounds;
       bounds = {
                north: parseFloat(latu),
                south: parseFloat(latl),
                east:  parseFloat(lonu),
                west:  parseFloat(lonl)}
        try {      
             initRectSelection(bounds);
             }
        catch (err){
         return;}
  }
  if (!latl&&!lonl&&!latu&&!lonu){
    if (rectSelector != null){
      rectSelector.setMap(null);
      rectSelector = null;
    }
  }
});

$("#species-input, #genus-input").change(function(){
  var genus = getornone('#genus-input');
  var species = $('#species-input').val();
  if ((genus!=null)&&(species.length>0))
  {$("#synonyms-error-message").hide();}
});

$("#synonyms-input").change(function(){
  var genus = getornone('#genus-input');
	var species = $('#species-input').val();
  if (this.checked){
    if ((genus==null)||(species.length==0)){
    $("#synonyms-error-message").show();
    
    }}
  else {
    $("#synonyms-error-message").hide();
  }});


$("#herbitem-search-filtering select").change(applyFilter);
$("#herbitem-tabs").tabs({active: 0, 
  activate: function(el,ui){
   if (ui.newPanel.selector == "#herbitem-content-main"){
    $(document).scrollTop(scrollPosition);
    scrollPosition = 0;
   }
  if (ui.newPanel.selector == '#herbitem-map'){
     if (google&&map){google.maps.event.trigger(map,'resize');
        };
  }

}});

var colwidth = $("div.centralcontainer").width();
var swidth = $("#herb-search-form").width();
$("#herbitem-tabs").width(colwidth-swidth-40 + 'px')
$("#herbitem-filtering-container").width(colwidth-swidth-40+'px');
$("#herbitem-filtering").show();
herbitemFind(false);
$("#herbitem-tabs").tabs('option','active',0);
$("#tab-preloader").remove();
$("#herbitem-tabs").show();
initHerbitemMap();
});
<!--  =========================================== -->
</script>


{%endaddtoblock%}

<!--  ======================================================== -->
