tmp
*.py[oc]
*.*~
env
hh
project.db
.project
.pydevproject
testprj/media
*.db
*.pkl
.idea
herbs/docs/sphinx/ru/build
herbs/docs/sphinx/en/build
.ipynb_checkpoints
herbs/management/output
herbs/management/source
herbs/management/tmp
herbcache*
herbs/management/herbimages.txt
herbarium.pdf
