django-cms<2.5
django-mptt>=0.5.1,<0.5.3

Django<1.6
pytz
south>=1.0.0
django-reversion>=1.7,<1.8
django-classy-tags>=0.3.4.1
html5lib>=0.90,!=0.9999,!=0.99999,<0.99999999
Pillow>=2.3
django-sekizai>=0.7
six
sorl.thumbnail
django-geoposition


# Extra options
pandas
transliterate
qrcode
fpdf
