{% load  i18n sekizai_tags %}

<!--  ===================== Info ============================ 
Author: Dmitry E. Kislov
E-mail: kislov@easydan.com
Created: 30 Aug, 2016
	  ======================================================== -->

<!--  ============Herbitem main searchform ================== --> 

<div id="herb-search-form">
  <ul>
  	
	<li><label for="family-input">{%trans "Семейство:"%}</label> <select id="family-input"></select><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>  
	<li><label for="genus-input">{%trans "Род:"%}</label> <select id="genus-input"></select><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="species-input">{%trans "Вид:"%}</label> <select id="species-input"></select><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="itemcode-input">{%trans "Код:"%}</label> <select id="itemcode-input"></select><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="gcode-input">{%trans "Код раздела:"%}</label> <input type="search" id="gcode-input" value="" placeholder="{%trans "Код раздела"%}"><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="collectedby-input">{%trans "Собрали:"%}</label><input type="search" id="collectedby-input" value="" placeholder="{%trans "Собрал(и)"%}"><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="identifiedby-input">{%trans "Определили:"%}</label><input type="search" id="identifiedby-input" value="" placeholder="{%trans "Определил(и)"%}"><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="gcode-input">{%trans "Страна:"%}</label><select id="country-input"></select><div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div></li>
	<li><label for="colend-input">{%trans "Даты сбора:"%}</label><input type="search" id="colstart-input" value="" placeholder="{%trans "Начало сбора"%}"> -
   	  <input type="search" id="colend-input" value="" placeholder="{%trans "Конец сбора"%}"> <div class="clear-field"><span class="ui-icon ui-icon-trash"></span></div>
	</li>
	<li><input type="submit" id="searchform-clear" value="{%trans "Очистить"%}"></li>
	<li><input type="submit" id="plantsetform-button" value="Найти"></li> 
  </ul>
</div> 

<!--  ======================================================== -->

<!--  ============Herbitem content found ===================== --> 
<div id="plantset-content-found"></div>
<!--  ======================================================== -->


<!-- ============-Searchform template ======================== -->
<script id="searchform-template" type="text/x-underscore-template">

<div style="text-align:center;">
    <span class="step-links">
        <% if (has_previous){ %>
            <span id="plantset-pervious-page"  onclick="incrPage(this,-1)">{% trans "Предыдущая" %}</span>
        <% } %>
        
        <span class="current">
            {% trans "Страница" %} <%= pagenumber %> {%trans "из"%} <%= pagecount %>.
        </span>
        <% if (has_next) {%>
        	<span id="plantset-next-page"  onclick="incrPage(this,1)">{% trans "Следующая" %} </span>
        <% } %>
    </span>
</div>

<table id="herbitem-table" style="width: 100%;">
   <thead>
    <tr style="height:3em;">
     <td>ID</td>
     <td>  {% trans "Код раздела"%} </td>
     <td>  {% trans "Уникальный код"%} </td>
     <td>  {% trans "Семейство"%} </td>
     <td>  {% trans "Вид"%} </td>
    </tr> 
   </thead>
	<tbody>
		<%
        _.each(items, function(item, index, list){
          var family = item.family
          var itemcode = item.itemcode
			 var gcode = item.gcode
			 var herbid = item.id
			 var species = item.species
		if (index % 2 == 0) { %>
		<tr class="herbitem-even" onclick="showitem(<%= herbid %>)" >
			<td><%= herbid %></td>
			<td><%= gcode %></td>
			<td><%= itemcode %></td>
			<td><%= species %></td>
		</tr>
<%		}  %>
	<%		else {%>
		<tr class="herbitem-odd" onclick="showitem(<%= herbid %>)" >
			<td><%= herbid %></td>
			<td><%= gcode %></td>
			<td><%= itemcode %></td>
			<td><%= species %></td>
		</tr>
	<%	}});
      %>
	</tbody>   
</table>
</script>
<!--  ======================================================== -->

{%addtoblock "css"%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" >
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<style type="text/css">
#family-input, #genus-input, #species-input, #country-input, #itemcode-input
	{
	width:300px;
	}
.clear-field{
	display: none;
	cursor:pointer;
	}
#herb-search-form>ul {
list-style-type: none;
}	
#herb-search-form>ul li {
padding-bottom:10px;
}
label {font-weight: bold;}	
</style>

{%endaddtoblock%}

{%addtoblock "js"%}
<!-- 	================== Main javascript code ===============- -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/ru.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script type="text/javascript" >

var cpage = 1; // Current paginated page 

function incrPage(el,inc){  // Just increment the page number 
cpage = cpage + inc
plantsetfind();
}

function getornone(el){
var res = null;
var obj = $(el).select2('data');
if (obj !== undefined){
	if (obj[0] !== undefined){
		res = obj[0].text;	
	}
}
return res;
}

function createSearchResult(idata){
// idata -- assumed to be a plain object (converted from json response)
var sftempl = _.template($("#searchform-template").html());
var output = sftempl({items:idata.herbobjs, has_pervious: idata.has_pervious,
							total: idata.total, 
							has_next: idata.has_next,
							pagenumber: idata.pagenumber,
							pagecount: idata.pagecount							
							}); 
return output
}

function bind_search(model, mname){
	var element = '#' + model + '-input';
	
$(element).select2({
		language: "{{request.LANGUAGE_CODE}}",
		placeholder: '{%trans "Выберите " %}' + mname,
		ajax: {
    	 url: "{% url 'herbs.views.advice_select' %}",
  		 dataType: 'json',
  		 type: 'GET',
    	 delay: 250,
    	 cache: false,
    	 data: function (params) { 
				    	 	var familyname = $("#family-input :selected").text();
							var genusname = $("#genus-input :selected").text();
							var speciesname = $("#species-input :selected").text();
    	 					return {q: params.term,
    	 					model: model,
    	 					family: familyname,
    	 					genus: genusname,
    	 					species: speciesname};
    	 					},
		 processResults: function (data, page) {
      	return {
        	results: data.items
      	};},
    	 },
    	 escapeMarkup: function (m) { return m; }
    		});
}


function herbitemfind(){
	var family = getornone('#family-input');
	var genus = getornone('#genus-input');
	var species = getornone('#species-input');
	var gcode = $("#gcode-input").val();
	var itemcode = $("#itemcode-input").val();
	var identifiedby = $("#identifiedby-input").val();
	var collectedby = $("#collectedby-input").val();
	var place = $("#place-input").val();
	var country = $("#country-input").val();
	var colstart = $("#colstart-input").val();
   var colend = $("#colend-input").val();
   var outputHTML = '';

	$("herbitem-content-found").html('<div class="centered-ajax-loader"></div>');

	$.get("{% url 'herbs.views.show_herbs' %}",
			{family:family, genus:genus, species:species, gcode:gcode, itemcode:itemcode,
			identifiedby:identifiedby, collectedby:collectedby,place:place, country:coutry, colstart:colstart,
			colend,coledn}).done(function(data) {
			if (length(data.error) > 0) {
				outputHTML = data.error
			}
			else {
				outputHTML = createSearchResult(data)}
			}
			).fail(function() {
    								alert("{%trans "Возникла ошибка при получении ответа за поисковый запрос" %}");
    								 }).always(function () {
											$("#plantset-content-found").html(outputHTML); 														 	
    										})	
}

<!-- ============ When DOM is ready ============  -->
$(document).ready(function() { 

bind_search('family', "{% trans 'Семейство'%}");
bind_search('genus', "{% trans 'род'%}");
bind_search('species', "{% trans 'вид'%}");
bind_search('country', "{% trans 'Страна'%}");
bind_search('itemcode', "{% trans 'Уникальный код'%}");


$("#colstart-input, #colend-input").click(function (event){
	$(this).siblings('div.clear-field').css('display', 'inline-block');
})

$("li>input[type=search]" ).keypress(function() {
  $(this).siblings('div.clear-field').css('display', 'inline-block')
});

$('select').on("select2:selecting", function(e) { 
  $(this).siblings('div.clear-field').css('display', 'inline-block')
});

$('div.clear-field').click(function (event){
$(this).css('display', 'none')
var el = $(this).siblings('select') 
if (el.length !== 0 ) {
el.select2('val', '');
} else{
$(this).siblings('input[type=search]').val(''); 
}
})

$("#colstart-input").datepicker();
$("#colend-input").datepicker();

$("#searchform-clear").click(function (event){
	event.preventDefault();
$('#family-input').select2('val', '');
$('#species-input').select2('val', '');
$('#genus-input').select2('val', '');
$('#country-input').select2('val', '');
$('div.clear-field').hide();

$( "div#herb-search-form ul li input:text" ).each(function() {  
	$(this).val('');
});

cpage = 1;// <!-- Find cpage in the outer scope and change it; i.e. pagination counter -->
});


});
<!--  =========================================== -->
</script>
{%endaddtoblock%}

<!--  ======================================================== -->
